        <div id="aboutus">
            <h3 class="h3 text-center">About Us</h3>
        </div>
        <div class="d-flex justify-content-center">
            <p class="lead">
                Work It Out is an application that allows you to find and create your own workout plans. Long gone are the days of needing a personal trainer to help you get fit. We are here to help! Select the part of thee body you want to targetand let us do the rest!
            </p>

        </div>
        </div>