#black {
    background-color: black;
}

#aboutus {
    margin-top:100px;
    margin-left: 100px;
    margin-right: 100px;
}

#signup {
    margin-top:100px;
    margin-left: 100px;
    margin-right: 100px;
}

#login {
    margin-top:100px;
    margin-left: 100px;
    margin-right: 100px;
}